<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FirehawkSQLServerDB" connectionString="Data Source=localhost;Initial Catalog=FirehawkTests;User Id=FirehawkAdmin;Password=admin;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>