<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FirehawkSQLServerDB" connectionString="Data Source=localhost;Initial Catalog=FirehawkTests;User Id=FirehawkAdmin;Password=admin;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="FirehawkMySQLDB" connectionString="Server=localhost; Port=3306; Database=FirehawkTests; Uid=FirehawkAdmin;" providerName="System.Data.SqlClient" />
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>